body {
  background-image: url("file:///home/kira/Desktop/beep-boop/img/hal.jpeg");
  background-position: center;
  background-size: auto;
  background-attachment: fixed;
  padding: 12px;
  border: 4px;
  background-color: black;
  font-family: serif;
  text-align: center;
}

jumbotron {
  opacity: 0.2;
}

h2 {
  text-decoration-color: white;
}
